body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #000;
    color: #efefef;
    font: 16px/24px Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    padding: 28px;
    border-bottom: 1px solid #333;
    text-shadow: 0 -1px 1px rgba(0,0,0,.5);
    position: relative;
}

li h1, li time {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 28px;
}

li time {
    margin: 0;
    padding: 0;
    float: right;
    font-size: 22px;
}

li .bar { display: none; }

li.in-progress .bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(195, 50%, 30%);
    height: 84px;
    z-index: -999;
    transition: 1s width;
}

li.in-progress.was-failed .bar {
    background: hsl(33, 80%, 30%);
}

li.failed {
    background: hsl(0, 100%, 30%);
}

li.not-building, li.no-change {
    display: none;
}
